.container-fluid {
    padding-left: 40px;
    padding-right: 80px;
}

.button-modal {
    display: flex;


}

.button {
    padding-right: 20px;
}

.button-modal btn {
    justify-content: space-around;


}

.form-caption textarea{
    margin-top: 5px;
    margin-bottom: 5px;
}

#photos .col-lg-4{
    margin: 0;
    padding: 25px;
}

#photos img {
    width: 100%;
    height: 300px;
}

#photos img:hover{
    border: 5px solid #f7f7f7;
}
