.container-fluid {
    padding-left: 40px;
    padding-right: 80px;
}

.button-modal {
    display: flex;


}

.button {
    padding-right: 20px;
}

.button-modal btn {
    justify-content: space-around;


}

.form-caption textarea{
    margin-top: 5px;
    margin-bottom: 5px;
}

